/* Altere --monster-size para escalar o monstro inteiro */
.monster3 {
  --monster-size: 450px;
  margin-top: 10px;
  position: relative;
  width: var(--monster-size);
  height: var(--monster-size);
}

.monster3 img {
  position: absolute;
  user-select: none;
  pointer-events: none;
}

.monster3__orelha {
  width: 22%;
  top: 10%;
  z-index: 1;
}

.monster3__orelha--left {
  left: 14%;
}

.monster3__orelha--right {
  left: 42%;
}

.monster3__cabeca {
  width: 82%;
  left: 9%;
  top: 17%;
  z-index: 2;
}

.monster3__bochecha {
  width: 12%;
  top: 34%;
  z-index: 3;
}

.monster3__bochecha--left {
  left: 14%;
}

.monster3__bochecha--right {
  left: 72%;
}

.monster3__olho {
  width: 38%;
  left: 30%;
  top: 24%;
  z-index: 5;
}

.monster3__pupila {
  width: 12%;
  left: 40%;
  top: 28%;
  z-index: 4;
}
