/* Altere --monster-size para escalar o monstro inteiro */
.monster1 {
  --monster-size: 380px;
  position: relative;
  width: var(--monster-size);
  height: var(--monster-size);
}

/* Convenção para próximos monstros: todos os filhos usam % de posição e tamanho */
.monster1 img {
  position: absolute;
  user-select: none;
  pointer-events: none;
}

.monster1__cabeca {
  width: 96%;
  left: 2%;
  top: 25%;
  z-index: 1;
}

.monster1__chifre {
  z-index: 0  ;
}

.monster1__chifre--left {
  width: 25%;
  left: 8%;
  top: 12%;
}

.monster1__chifre--center {
  width: 25%;
  left: 35%;
  top: 11%;
  /* rotate: 45deg;   */
  /* transform-origin: center bottom; */
}

.monster1__chifre--right {
  width: 25%;
  left: 60%;
  top: 13%;
}

.monster1__olhos {
  width: 45%;
  left: 23%;
  top: 34.5%;
  z-index: 2;
}

.monster1__pupila {
  width: 12.5%;
  z-index: 3;
}

.monster1__pupila--left {
  left: 27.5%;
  top: 38.5%;
}

.monster1__pupila--right {
  left: 52%;
  top: 38.5%;
}

.monster1__nariz {
  width: 19%;
  left: 35%;
  top: 53%;
  z-index: 2;
}
