/* Altere --wizard-size para escalar o mago inteiro */
.wizard {
  --wizard-size: 260px;
  --wizard-rotate: -3deg;

  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-90%) !important;
  z-index: 6;
  width: var(--wizard-size);
  height: var(--wizard-size);
  clip-path: inset(-9999px -9999px 0 -9999px);
  /* rotate: -5deg; */
  /* overflow-y: hidden; */
  /* overflow-x: visible; */
  /* background-color: aqua; */
}

.wizard img {
  position: absolute;
  user-select: none;
  pointer-events: none;
}

.wizard__braco {
  width: 88%;
  left: 0;
  top: 60%;
  z-index: 2;
  transform: rotate(var(--wizard-rotate));
}

.wizard__mao-varinha {
  width: 42%;
  left: 72%;
  top: 3%;
  z-index: 1;
  transform: rotate(var(--wizard-rotate));
}
